*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  block-size: 100%;
}
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
.page {
  width: 1200px;
  block-size: 100%;
  color: #fff;
  margin: 0 auto;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.content {
  width: 100%;
  padding: 0 30px;
  display: grid;
  grid-template-columns: 711px 415px;
  grid-template-rows: 1fr;
  gap: 30px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0.000);
  overflow: hidden;
}
.result {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  align-self: end;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 386px 54px;
  gap: 16px
}
.content__details {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 210px 1fr;
  gap: 26px;
}
.result__video-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.search-form {
  display: grid;
  grid-template-columns: 225px 212px 194px;
  grid-template-rows: 1fr;
  gap: 40px;
}
.search-form__fieldset {
  border: none;
}
.search-form__fieldset-title {
  margin-top: 0;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  margin-block-end: 5px;
}
.search-form__textfield {
  width: 100%;
  background-color: transparent;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  border: none;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  border-radius: 0;
  appearance: none;
}
.search-form__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-form__label:hover {
  text-decoration: underline;
  cursor: pointer;
 }
.search-form__label:has(:focus) {
  outline: none;
}
.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}
.search-form__textfield:active {
  outline: none;
  border: 1px solid #fff;
}
.search-form__label:has(.search-form__textfield):hover{
  outline: none;
  cursor: text;
  text-decoration: none;
}
.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}
.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
}
.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  background-color: transparent;
}
.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  width: 18px;
  height: 18px;
  outline: 1px solid #fff;
  outline-offset: 1px;
  background-color: #fff;
  margin-right: 1px;
 }
 .search-form__label-text {
  margin-left: 5px;
 }
.button {
  background-color: transparent;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #fff;
  border: 1px solid #fff; 
}
.search-form__submit-button {
  align-self: end;
  height: 34px;
}
.button:hover {
  text-decoration: underline;
  cursor: pointer;
}
.button:active {
  background-color: #545050;
}
.button:focus {
  outline:none;
}
.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}
.title {
  padding-top: 3px;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}
.content__accent {
  color: #545050;
}
.content__list {
  position: relative;
  overflow: auto;
  height: 300px;
}
.content__list-item {
  margin-bottom: 30px;
}
.content__list-item:last-child {
  margin-bottom: 0px;
}
.content__card-link {
  height: 100%;
  text-decoration: none;
  display: block;
  margin: 2px;
}
.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 1px;
  cursor: pointer;
  color: white;
}
.content__card-link:active {
  background-color: #545050;
}
.content__card-link:focus {
  border: none;
  outline: none;
}
.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}
.content__card-link_current {
  background-color: #545050;
}
.content__video-card {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 100%;
}
.content__video-card-description-container {
  grid-column: 1/2;
  grid-row: 1/2;
}
.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 2px 0;
}
.content__video-card-title {
  width: 100%;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
  padding-top: 4px;
  padding-left: 2px;
  text-overflow: ellipsis;   
  white-space: nowrap;   
  overflow: hidden;
}
.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 90%;
  color: #fff;
  padding-top: 2px;
  padding-left: 2px;
  text-overflow: ellipsis;   
  white-space: nowrap;   
  overflow: hidden;
}
.more-button {
  width: 100%;
  height: 34px;
}